*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #BDB76B;
    font-family: 'Poppins';
}

.circle{
    position: absolute;
    top: -50px;
    right: -50px;
    background: #B8B050;
    border-radius: 50%;
    width: 250px;
    height: 250px;
}

.image{
    position: absolute;
    top: -20px;
    right: -20px;
}

.gat-title{
    display: flex;
    justify-content: left;
    align-items: center; 
}

.gat-title .title{
    height: 50px;
    width: 542px;
    font-family: 'Righteous';
    font-weight: bold; 
    font-size: 1.7em;
    text-align: center;
    padding: 0.5rem 1rem;
    margin-left: 110px;
    margin-top: 50px;
}

.description{
    height: 134px;
    width: 894px;
    font-size: 1.3em;
    text-align: center;
    padding: 0.5rem 1rem;
    margin-left: 190px;
    margin-top: 134px;
}

.box-title{
    display: flex;
    justify-content: center;
    /* font-family: 'Poppins'; */
    font-size: 1.3em;
    height: 50px;
    width: 590px;
    margin-left: 198px;
    margin-top: 70px;
}

button{
    resize: none;
    border: none;
    padding: 1em;
    border-radius: 0.5em;
    background-color: #E9E9E9;
    color: black;
    font-size: 1.3em;
    height: 45px;
    width: 200px;
    margin-right: -309px;
    margin-left: 30px;
    margin-top: -60px;
    text-align: center;
    justify-content: center;
    line-height: 5px;
}

button:hover{
    background-color: #B8B050;
    box-shadow: 0 -4px 0 0 #E9E9E9;
    color: #E9E9E9;
}

.text-input{
    display: flex;
    justify-content: center;
}

textarea{
    resize: none;
    border: none; 
    padding: 1em;
    border-radius: 1em;
    background-color: #E9E9E9;
    height: 20px;
    width: 500px;
    margin-left: -345px;
}